.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   justify-content: center;
}
.box{
    width: 30vw;
    height: auto;
}


img:hover{
    box-shadow: 4px 4px rgb(0, 0, 0);
}