body{
    margin: 0%;

}
.container{
   border: 2px solid black;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header header header header" 
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
}
.navbar{
    display: flex;
}

@media screen and (max-width:600px){
    button{display: none;}


}
@media screen and (min-width:600px){
#menu{display: none;}
    

}
#menu{
    width: 50px;
    height: 50px;
    border: solid rgb(255, 255, 255) 2px;
    color: #fff;
    text-align: center;
    background-color: brown;   
}
#men:{
    
}

.header{
    grid-area: header;
    background-color: black;
    padding-left: 2%;
    padding-right: 2%;
    
    display: flex;
    height: auto;
    justify-content: space-between;

}


button{
     width: 10vw;
     height: 10vh;
     margin-top: 2%;
     border: 3px #fff solid;
     border-radius: 14%;
     background: rgb(166,47,0); 
background: -moz-linear-gradient(top,  rgb(166,47,0) 0%, rgb(232,46,0) 23%, rgb(210,45,0) 71%, rgb(118, 37, 23) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(166,47,0) 0%,rgb(232,46,0) 23%,rgb(210,45,0) 71%,rgb(229, 226, 226) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(166,47,0) 0%,rgb(232,46,0) 23%,rgb(210,45,0) 71%,rgb(195, 117, 117) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a62f00', endColorstr='#ff6543',GradientType=0 );
}
.main{
    grid-area:main;
    display: flex;
    justify-content: center;
    padding-top: 2%;
background: rgb(166,47,0); 
background: -moz-linear-gradient(top,  rgb(166,47,0) 0%, rgb(232,46,0) 23%, rgb(210,45,0) 71%, rgb(118, 37, 23) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(166,47,0) 0%,rgb(232,46,0) 23%,rgb(210,45,0) 71%,rgb(229, 226, 226) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(166,47,0) 0%,rgb(232,46,0) 23%,rgb(210,45,0) 71%,rgb(195, 117, 117) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a62f00', endColorstr='#ff6543',GradientType=0 ); /* IE6-9 */
}
@media screen and (max-width:600px)
{.main {display: flex;
flex-direction: column;}
      
}



.footer{
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

@keyframes slider{
    0% {background-image:url(avengers.jpg);}
    10% {background-image: url(black\ widow.jpg);}
    20%{background-image: url(captainamerica.jpg);}
    30%{background-image:url(ragnarok.jpg);}
    40%{background-image:url(shang-chi.jpg);}
    50%{background-image: url(spiderman.jpg);}
    60%{background-image: url(thor.jpg);}
    70%{background-image: url(drstrange.jpg);}
    80%{background-image: url(wandavision.jpg);}
    90%{background-image: url(antman.jpg);}
    100%{background-image: url(avengers.jpg);}

}





