body{
    margin: 0%;

}
.container{
   border: 2px solid black;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
    "header header header header" 
    "main main main main"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
}

.header{
    grid-area: header;
    background-color: black;
    padding-left: 2%;
    padding-right: 2%;
    
    display: flex;
    height: auto;
    justify-content: space-between;


}
button{
     width: 10%;
     height: 40%;
     margin-top: 2%;
     border: 2px #fff solid;
     border-radius: 10%;
     background: rgb(166,47,0); 
background: -moz-linear-gradient(top,  rgb(166,47,0) 0%, rgb(232,46,0) 23%, rgb(210,45,0) 71%, rgb(118, 37, 23) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(166,47,0) 0%,rgb(232,46,0) 23%,rgb(210,45,0) 71%,rgb(229, 226, 226) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(166,47,0) 0%,rgb(232,46,0) 23%,rgb(210,45,0) 71%,rgb(195, 117, 117) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a62f00', endColorstr='#ff6543',GradientType=0 );
}
.main{
    grid-area:main;
background: rgb(166,47,0); 
background: -moz-linear-gradient(top,  rgb(166,47,0) 0%, rgb(232,46,0) 23%, rgb(210,45,0) 71%, rgb(118, 37, 23) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(166,47,0) 0%,rgb(232,46,0) 23%,rgb(210,45,0) 71%,rgb(229, 226, 226) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(166,47,0) 0%,rgb(232,46,0) 23%,rgb(210,45,0) 71%,rgb(195, 117, 117) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a62f00', endColorstr='#ff6543',GradientType=0 ); /* IE6-9 */
}
.footer{
    grid-area: footer;
    background-color: black;
}